{%- extends "generic_class.sv.j2" -%}

{%- block class_vars %}
{%- set class_type = "class" %}
{%- set class_name = vip.name ~ "_config" %}
{%- set class_extends = "extends uvm_object" %}
{%- endblock class_vars %}

{% block class_members -%}
  virtual {{ vip.name }}_if vif;

  uvm_active_passive_enum is_active = UVM_ACTIVE;
  bit is_controller;
  bit coverage_enable;
  bit checks_enable;
{%- endblock class_members %}

{% block class_functions_signatures -%}
  extern function new(string name = "");
{%- endblock class_functions_signatures %}

{% block post_class_def -%}
function {{ class_name }}::new(string name = "");
  super.new(name);
endfunction: new
{%- endblock post_class_def %}

