{%- extends "generic_class.sv.j2" -%}
{% import "vip/utils/port_direction.sv.j2" as port_dir %}

{%- block class_vars %}
{%- set class_type = "interface" %}
{%- set class_name = vip.name ~ "_if" %}
{%- endblock class_vars %}

{% block class_members -%}
  timeunit      1ns;
  timeprecision 1ps;

  import {{ vip.name }}_pkg::*;

  {% if vip.clock -%}
  wire {{ vip.clock }};
  {%- endif %}
  {% if vip.reset -%}
  wire {{ vip.reset }};
  {%- endif %}

  // Ports
  {%- for port in vip.ports %}
  {% if port.properties.dimensions -%}
    wire [{{ port.properties.dimensions[0][0] }}:{{ port.properties.dimensions[0][1] }}] {{ port.name }};
  {%- else -%}
  wire {{ port.name }};
  {%- endif %}
  {%- endfor %}
{%- endblock class_members %}

{% block class_functions_signatures -%}
  {% if vip.clock and vip.use_clock_block -%}
  clocking cb_cont_drv @(posedge {{ vip.clock }});
    {%- for port in vip.ports %}
    {{ port_dir::generate_port_direction_controller(port_dir = port.properties.direction) }} {{ port.name }};
    {%- endfor %}
  endclocking: cb_cont_drv

  clocking cb_resp_drv @(posedge {{ vip.clock }});
    {%- for port in vip.ports %}
    {{ port_dir::generate_port_direction_responder(port_dir = port.properties.direction) }} {{ port.name }};
    {%- endfor %}
  endclocking: cb_resp_drv

  clocking cb_mon @(posedge {{ vip.clock }});
    {%- for port in vip.ports %}
    {{ port_dir::generate_port_direction_monitor(port_dir = port.properties.direction) }} {{ port.name }};
    {%- endfor %}
  endclocking: cb_mon
  {%- endif %}
{%- endblock class_functions_signatures %}
