{% extends "base_template.sv.j2" %}

{% block class_def -%}
{% if class_extends -%}
{{ class_type }} {{ class_name }} {{ class_extends }};
{%- else -%}
{{ class_type }} {{ class_name }}{% if class_type == "interface" %}(){% endif %};
{%- endif %}

  {% if class_factory -%}
  {% if class_object_utils -%}
  `uvm_object_utils({{ class_factory }})
  {%- else -%}
  `uvm_component_utils({{ class_factory }})
  {%- endif %}
  {%- else -%}
  // do not register {{ class_name }} with the factory
  {%- endif %}

  {% block class_members -%}{%- endblock class_members %}

  {% block class_functions_signatures -%}{%- endblock class_functions_signatures %}

end{{ class_type }}: {{ class_name }}
{%- endblock class_def %}

